*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
    min-height: 100vh;
    font-family: sans-serif;
}

.container h4{
    text-align: center;
    z-index: 0;
    color: #7158e2;
    filter: drop-shadow(0 0 0.75rem #7158e2);
    font-size: 3em;
    transition: 2s;
    animation: yazi 2s infinite;
    
}

@keyframes yazi{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
}

.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    

}

.container .card{
    position: relative;
    height: 250px;
    background: #101010;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 10px;
    border: 1px solid #050505;

}

.container .card::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: -10%;
    border-radius: 50% ;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    filter: blur(8px);
}

.container .card .imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #202020;
    border: 1px solid #080808;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 10px;

}

.container .card:hover .imgbox{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #181818;
    border-radius: 50%;
    animation: daire 1s infinite;
    filter: drop-shadow(0 0 0.75rem #7158e2);
}

@keyframes daire{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
}

.container .card .imgbox:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 700;
    
}

.container .card .imgbox img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0 0 0.75rem #fff);
}

.container .card:hover .imgbox img{
    max-width: 85px;
    filter: drop-shadow(0 0 0.75rem #7158e2);
}

.container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem #7158e2);
}

.container .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
    color: white;
    filter: drop-shadow(0 0 0.75rem #7158e2);
}

.container .card .content p{
    color: white;
}

.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media(max-width:992px){

    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container .card{
        width: 400px;
    }
}

@media(max-width:768px){

    .container .card{
        width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container .card .imgbox{
        position: relative;
    }

    .container .card .imgbox,
    .container .card:hover .imgbox{
        width: 100%;
        height: 200px;
        border-radius: 10%;
        left: 0;
    }

    .container .card .imgbox img,
    .container .card:hover .imgbox img{
        max-width: 100px;
    }

    .container .card .content{
        position: relative;
        width: 100%;
    }

}
