<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rooms/jsroom.css">
    <script src="https://kit.fontawesome.com/1e85dc0075.js" crossorigin="anonymous"></script>
    <title>JavaScript Odası | <%=title%></title>
</head>
<body>
    
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">

        <header>

            <img src="python.png" class="img">
            <p><%=title%></p>

        </header>

        <ul>
            <li><a href="/"> <i class="fas fa-home"></i>Odalar</a></li>
            <li><a href="/"> <i class="fas fa-comment"></i>Sohbet Odası</a></li>
            <li><a href="/"> <i class="fas fa-question"></i>Soru-Yardım</a></li>
            <li><a href="/"> <i class="fas fa-graduation-cap"></i>Eğitim</a></li>
            <li><a href="/"> <i class="fas fa-cog"></i>Hesap</a></li>
            <li><a href="/cikisyap"> <i class="fas fa-sign-out-alt"></i>Çıkış Yap</a></li>
        </ul>

    </div>

    <div id="sohbet">

        <h3>Naber <%=title%>, Hadi Birşeyler Söyle!</h3>

        <div id="sohbet-ekrani">
            <div id="cikti"></div>
            <div id="feedback"></div>
            <div id="gonderen" style="display: none;"><%=title%></div>
        </div>

        <input type="text" id="mesaj" placeholder="Mesajınızı Giriniz..." minlength="3">
        <button id="gonderbtn">Gönder</button>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>
