<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head/head.ejs') %>
    <title>Yazılım Blog | <%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%-include('./head/body.ejs') %>

</body>
<script src="/move.js"></script>
</html>
