<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head/head.ejs') %>
    <title>Yazılım Blog | <%=title%></title>
    <link rel="stylesheet" href="/kayit.css">
    <script src="/Registercontroller.js"></script>
</head>
<body>

<section>
    <img src="/1.png" data-speed="-5" class="layer">
    <img src="/2.png" data-speed="-8" class="layer">
    <img src="/3.png" data-speed="-3" class="layer">
    <img src="/4.png" data-speed="6" class="layer">
    <img src="/5.png" data-speed="-5" class="layer">
    <img src="/6.png" data-speed="-7" class="layer">
    <img src="/7.png" data-speed="-5" class="layer">
    <img src="/8.png" data-speed="2" class="layer">
    <img src="/9.png" data-speed="-3" class="layer">
    <img src="/10.png" data-speed="9" class="layer">
    <img src="/11.png" data-speed="7" class="layer">
    <img src="/12.png" data-speed="2" class="layer">
    <h4 class="layer" data-speed="3">Yazilimblog</h4>
</section>

<form action="/kayitol" method="POST" id="kayit" onsubmit="return verify()">
    <h1>Kayıt Ol</h1>
    <!-- kullanıcı adı ve e-posta -->
    <input type="text" name="kullaniciadi" id= "kadi" minlength="4" required autocomplete="off" placeholder="Kullanıcı Adınızı Belirleyin">
    <input type="text" name="eposta" id="mail" onkeyup="valid()"  required autocomplete="off" placeholder="E-Posta Adresinizi Girin">
    <!-- Uyarı Yazıları-->
    <div id="yazi" >Geçersiz Mail Adresi <i class="fas fa-times-circle"></i></div>
    <div id="yazi2" >Geçerli Mail Adresi <i class="fas fa-check-circle"></i></div>
    <!-- Şifre İnputu ve Yazıları-->
    <input type="password" name="sifre" id="pass1" onkeyup="passvalid()" minlength="6" required autocomplete="off" placeholder="Şifrenizi Belirleyin">
    <div id="sifreyazi">Şifreniz !,?,+,_,%,* Karakterlerinden Birini İçermelidir.</div>

    <input type="password" name="sifre_tekrar" id="pass2" onkeyup="passvalid()" minlength="6" required autocomplete="off" placeholder="Şifrenizi Tekrar Belirleyin">
    <div id="sifreyazi2" >Şifreniz !,?,+,_,%,* Karakterlerinden Birini İçermelidir.</div>
    <!-- Buton ve Sifre Yazısı-->
    <div id="esle" >Şifreleriniz Birbirleri ile Uyuşmamaktadır <i class="fas fa-times-circle"></i></div>
    <button type="submit" class = "btn" id="buton">Kayıt Ol</button>
    <h5>Zaten Bir Hesabınız Var mı? <a href="/"> Giriş Yap </a></h5>
</form>

</body>
</html>
