<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head/head.ejs') %>
    <title>Yazılım Blog | <%=title%></title>
    <link rel="stylesheet" href="/kayit.css">
</head>
<body>
    
<form action="#" method="POST" id="kayit">
    <h1>Kayıt Ol</h1>
    <input type="text" name="" placeholder="Kullanıcı Adınızı Belirleyin">
    <input type="text" name="" placeholder="E-Posta Adresinizi Girin">
    <input type="password" name="" placeholder="Şifrenizi Belirleyin">
    <input type="password" name="" placeholder="Şifrenizi Tekrar Belirleyin">
    <input type="submit" name="" value="Kayıt Ol">
    <h5>Zaten Bir Hesabınız Var mı? <a href="/"> Giriş Yap </a></h5>
</form>

</body>
</html>
