<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head/head.ejs')%>
    <title>Yazılım Blog | <%=title%></title>
    <link rel="stylesheet" href="userpage.css">
</head>
<body>

    <div class="container">

        <h4>Birşeyler Öğrenmeye Ne Dersin <%=title%>?</h4>

        <div class="card">

            <div class="imgbox" data-text="javaScript">
                <img src="/js.png">
            </div>

            <div class="content">

                <div>
                    <h3>javaScript</h3>
                    <p>JavaScript 1995 yılında Brendan Eich tarafından geliştirilmiş tarayıcı üzerinde çalışan, web sayfalarına dinamiklik katmak ve kullanıcı ile etkileşimi arttırmak için kullanılan betik dilidir...</p>
                    <a href="/javascriptodasi">Odaya Gir!</a>
                </div>

            </div>

        </div>

        <div class="card">

            <div class="imgbox" data-text="Python3">
                <img src="/python.png">
            </div>

            <div class="content">

                <div>
                    <h3>Python</h3>
                    <p>Python nesne yönelimli, yorumsal,modüler ve etkileşimli, yüksek seviyeli bir dildir. Programlama dilleri makine mantığı ile insan mantığı arasında köprüdür...</p>
                    <a href="/pythonodasi">Odaya Gir!</a>
                </div>

            </div>

        </div>

        <div class="card">

            <div class="imgbox" data-text="Html5">
                <img src="/html-5.png">
            </div>

            <div class="content">

                <div>
                    <h3>HTML5</h3>
                    <p>HTML5 Temel görevi sitemize yazı, görüntü, video gibi değişik verileri bağlamaktır. Bununla beraber diğer tüm tarayıcılara standart ve düzgün olarak görüntülemesi için kurallar belirler...</p>
                    <a href="/html5odasi">Odaya Gir!</a>
                </div>

            </div>

        </div>

        <div class="card">

            <div class="imgbox" data-text="Css3">
                <img src="css-3.png">
            </div>

            <div class="content">

                <div>
                    <h3>Css3</h3>
                    <p>Açılımı Cascading Style Sheets olan CSS dilimizde Basamaklı Stil Sayfaları anlamına gelmektedir. HTML ile yazılan kodların görsel açıdan daha zengin olmasını sağlamak için kullanılır...</p>
                    <a href="/css3odasi">Odaya Gir!</a>
                </div>

            </div>

        </div>

    </div>
    
</body>
</html>