<form action="#" method="POST" id="forum">
    <h1>Giriş Yap</h1>
    <input type="text" name="kadi" placeholder="Kullanıcı Adınızı Giriniz">
    <input type="password" name="pass" placeholder="Şifrenizi Giriniz">
    <input type="submit" value="Giriş Yap">
    <h5>Hesabınız Yok mu? Hemen <a href="/kayitol"> Kayıt </a> Olun.</h5>
</form>
